* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}
:root {
    font-size: 62.5%;
    --frenchRose: #FD4C8C; 
    --orchid: #E280CC;
    --bnbleachedSilk: #FFD6CD;
    --eminence: #5F2E89;
    --text-color: #000;
    --dark: #000000; 
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

.paddingContent{
    padding: 0 8%;
}