@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: "Poppins", sans-serif; 
    font-style: normal;
}

:root {
    font-size: 62.5%;
    --frenchRose: #FD4C8C; 
    --orchid: #E280CC;
    --bnbleachedSilk: #FFD6CD;
    --eminence: #5F2E89;
    --text-color: #000;
    --dark: #000000;
    --white: #fff; 
    --yellow: #F1C631;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

.paddingContent{
    padding: 0 8%;
}

p, li {
    font-weight: 400;
}