footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    figure {
        margin-bottom: 3rem;
        @media screen and (min-width: 320px) and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            @media screen and (min-width: 320px) and (max-width: 1024px) {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    h2 {
        font-size: 5rem;
        font-weight: 800;
        color: var(--orchid);
        @media screen and (min-width: 320px) and (max-width: 1024px) {
            font-size: 4rem;
            text-align: center;
        }
    }
    p {
        margin: 0 0 3rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-transform: uppercase;
        color: var(--eminence);
        @media screen and (min-width: 320px) and (max-width: 1024px) {
            text-align: center;
            margin: 3rem 0;
        }
    }
    .socialMedia {
        margin-bottom: 3rem;

        a {
            margin: 0 3rem;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
                margin: 0 1rem;
            }
        }
    }
    address {
        small {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--eminence);
            margin-bottom: 3rem;
            @media screen and (min-width: 320px) and (max-width: 1024px) {
                text-align: center;
            }
        }
    }
}