header {
        display: flex;
        justify-content: space-between;
    figure {
        
        img {

        }
    }
    .menu {
        display: flex;
        justify-content: start;

        li {
            a {
                &:hover{
                    
                }
            }
        }
    }
}